<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{recipe.name | shorten:8}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group" ngbDropdown>
            <button class="btn btn-primary" id="recipeDropdown" ngbDropdownToggle>Manage Recipe</button>
            <div class="dropdown-menu" aria-labelledby="recipeDropdown" ngbDropdownMenu>
                <a class="dropdown-item cursorChanged" (click)="onAddToShoppingList()">To shopping list</a>
                <a class="dropdown-item cursorChanged" (click)="onRecipeEdit()">Edit recipe</a>
                <a class="dropdown-item cursorChanged" (click)="onRecipeDelete()">Delete recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">{{recipe.description}}</div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - ({{ingredient.amount}})
            </li>
        </ul>
    </div>
</div>